#API
fastapi

#registry


colorama
tensorflow
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.3.1
google-cloud-storage

pytest
pylint
ipdb
jupyterlab
jupyter
numpy
pandas
matplotlib
seaborn
scikit-learn
statsmodels
datetime

# DEEP LEARNING
tensorflow==2.10.0
